---
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Page | Haeun Ji</title>
    <!-- 분리한 CSS 파일 로드 -->
    <link rel="stylesheet" href="00_style.css">
</head>
<body>
<div class="container">
    {% include 01_header.html %}
    {% include 02_about.html %}
    {% include 03_education.html %}
    {% include 04_interests.html %}
    {% include 05_awards.html %}
    {% include 06_publications.html %}
    {% include 07_projects.html %}
    {% include 08_activities.html %}
    {% include 09_skills.html %}
    {% include 10_contact.html %}
</div>
</body>
</html>
