<section id="about">
    <h2>About Me</h2>
    <div class="about-content">
        <img src="images/image.jpg" alt="Profile" class="profile-img">
        <div class="about-text">
            <ul>
                <li>I am a <strong>Synchronized Multi-Camera Systems Engineer</strong> at <strong>Affordance</strong>, a Human-Robot Interaction startup.</li>
                <li>My academic background is in <strong>Electronic Engineering</strong>, with a primary focus on <strong>Chip Design using Open-Source EDA</strong>.</li>
                <li>My research interests lie in <strong>Hardware for Autonomous Robotics</strong>.</li>
            </ul>
        </div>
    </div>
</section>
