<section id="about">
    <h2>About Me</h2>
    <div class="about-content">
        <img src="images/image.jpg" alt="Profile" class="profile-img">
        <div class="about-text">
            <ul>
                <li>Welcome to my page!</li>
                <li>I am an <strong>Open-Source Chip Maker</strong>.</li>
                <li>My academic background is in <strong>Electronic Engineering</strong>.</li>
                <li>My interests lie in <strong>SoC for Physical Intelligence</strong> and <strong>Design Automation</strong>.</li>
            </ul>
        </div>
    </div>
</section>
