<section id="contact">
    <h2>Contact</h2>
    <ul>
        <li>Email: <a href="mailto:eunhajosu@khu.ac.kr" class="contact-link">eunhajosu@khu.ac.kr</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/지하은-학생-전자정보대학-전자공학과-6093133a7" class="contact-link" target="_blank" rel="noopener">지하은-학생-전자정보대학-전자공학과</a></li>
        <li>GitHub: <a href="https://github.com/haeun-josue" class="contact-link" target="_blank" rel="noopener">github.com/haeun-josue</a></li>
        <li>Blog: <a href="https://dream-ee-master.tistory.com" class="contact-link" target="_blank" rel="noopener">dream-ee-master.tistory.com</a></li>
    </ul>
</section>
